body {
    text-align: center;
    Background-image: url("https://i.imgur.com/RKCHtyT.jpg");
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    border-bottom-color: antiquewhite;
}